
                	
	               <table >
	                    <thead>
	                    <!-- <br/> -->
		                    <!-- ligne de titres -->
		                    <tr>
		                         <th>{{ 'DateDemande' | translate }}</th>
			                     <th>{{ 'Nom' | translate }}</th>
			                     <th>{{ 'Prenom' | translate }}</th>
			                     <th>{{ 'Status' | translate }}</th>
			                     <th>{{ 'Affectation' | translate }}</th>
			                     <th>{{ 'NomAgents' | translate }}</th>
			                     <th>{{ 'IdDemande' | translate }}</th>
			                     <th>{{ 'Affecter' | translate }}</th>
		                    </tr>
	                    </thead>
	                  
	                </table>
	       