<button class="btn btn-primary" (click)="open(content)">Nouveau Client</button>
    <ng-template #content let-c="close" let-d="dismiss">
     <form [formGroup]="nouveauClientForm" (ngSubmit)="onSubmit()" >
        <div class="modal-header">
            <h4 class="modal-title">{{'Info'| translate}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <table class="table  table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{'Nom'|translate}}</td>
                        <td>    
                            <input  type = "text" 
                                    class="form-control" 
                                    formControlName="nom">                   
                        </td>
                    </tr>
                     <tr>
                        <td>{{'Prénom'|translate}}</td>
                        <td>    
                                                       
                                    <input  type = "text" 
                                            class="form-control" 
                                            formControlName="prenom">                   
                           
                        </td>
                    </tr>
                    <tr>
                        <td>{{'Identifiant'|translate}}</td>
                       
                        <td>    
                                                           
                            <input  type = "text" 
                                class="form-control" 
                                formControlName="identifiant">  
                        </td>
                    </tr>
                    <tr>
                        <td>{{'mdp'|translate}}</td>
                        <td>    
                                                       
                                    <input  type = "text" 
                                            class="form-control" 
                                            formControlName="mdp">                   
                           
                        </td>
                    </tr>
                    <tr>
                        <td>{{'adresse'|translate}}</td>
                        <td>    
                                                       
                                    <input  type = "text" 
                                            class="form-control" 
                                            formControlName="adresse">                   
                           
                        </td>
                    </tr>
    				<tr>
                        <td>{{'Couriel'|translate}}</td>
                        <td>    

    							<input type="email" class="form-control" formControlName="email">                
                        </td>
                    </tr>
                    
                     <tr>
                        <td>{{'Situation'|translate}}</td>
                        <td>    
                                                       
                                    <input  type = "text" 
                                            class="form-control" 
                                            formControlName="situation">                   
                           
                        </td>
                    </tr>
                      <tr>
                        <td>{{'Numéro de téléphone'|translate}}</td>
                        <td>    
                                                       
                                    <input  type = "text" 
                                            class="form-control" 
                                            formControlName="numTel">                   
                           
                        </td>
                    </tr>
                    <tr>
                        <td>{{'NombrEnfants'|translate}}</td>
                        <td>    
                                                       
                                    <input  type = "text" 
                                            class="form-control" 
                                            formControlName="nbEnfants">                   
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer" >
             
            <button  type="submit" class="btn btn-secondary" >Sauvegarder</button>

            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>   
        </form>            
    </ng-template>