<div class="CreerAgents">
<div class = "row">
    <h1>{{'CreerAgent' | translate}}</h1>

 </div>
<div class = "row">     
 <form role="form">

                <fieldset class="form-group">
                    <label>{{ 'Matricule' | translate }}</label>
                    <input class="form-control" placeholder="Matricule" type="text">
                    <label>{{ 'Nom' | translate }}</label>
                    <input class="form-control" placeholder="Nom" type="text">
                    <label>{{ 'Prenom' | translate }}</label>
                    <input class="form-control" placeholder="Prenom" type="text">
                    <label>{{ 'MotDePasse' | translate }}</label>
                    <input class="form-control" placeholder="Mot de passe" type="password">
                    <label> {{'DateDebutContrat'| translate}}</label>
                    <input class="form-control" placeholder="Mot de passe" type="date">

                </fieldset>
               
                <button type="submit" class="btn btn-secondary"> {{'AjouterAgents' | translate}}</button>

  </form>

 </div>

</div>
