<div class="card text-white bg-{{bgClass}}" (click)="open(content)">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
                <div class="d-block huge">{{count}}</div>
                <div class="d-block">{{label}}</div>
            </div>
        </div>
    </div>
</div>

    <ng-template #content let-c="close" let-d="dismiss">
    
        <div class="modal-header">
            <h4 class="modal-title">{{'Info'| translate}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
          	<tr>
                <td>{{'idDemande'|translate}}</td>
                <td>{{demandeEnCours.idDemande}}</td>
        	</tr>

        	<tr>
                <td>{{'dateDemande'|translate}}</td>
                <td>{{demandeEnCours.dateDemande | date:'dd MM yy'}}</td>
        	</tr>

            <tr>
                <td>{{'idClient'|translate}}</td>
                <td>{{demandeEnCours.idClient}}</td>
            </tr>

            <!-- <label class="radio-inline">
                <input 
                    type="radio" 
                    formControlName="status" 
                    id="optionsRadiosInline1"
                    [checked]="idx === 0"
                    [value]="demandeEnCours.status" 
                    (change)="onSelectionChange(status)">
            </label> -->
          
        </div>
        <div class="modal-footer" >
             <button type="button" class="btn btn-secondary" (click)="validerDemande()">Valider la demande</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>          
    </ng-template>




           
    