<div class="row">
	<!-- Tableau contenant les comptes (Type / N° / Libellé / Solde / Relevé) -->
	<div class="card-body table-responsive">
	<!-- <table class="card-body table table-hover table-striped"> -->
	<table class="card-body table table-hover table-sm">
	    <thead>
	    <br/>
	        <!-- ligne de titres -->
	        <tr>
	            <th>Type de compte</th>
	            <th>Numero de compte</th>
	            <th>Libellé</th> 
	            <th>Solde</th>
	            <th>Relevé</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<!-- recupération de la liste des comptes -->
	        <tr *ngFor="let compte of comptes">
	        	<!-- scope : permet de mettre en 'surbrillance' la ligne consultée -->
	            <td scope="row">{{ compte.type }}</td>
	            <td>{{ compte.rib }}</td>
	            <td></td>
	            <td>{{ compte.solde }}</td>
	            <td></td>
	        </tr>
	    </tbody>
	</table>
	</div>
</div>