
            
                <button class="btn btn-danger btn-xs fa fa-trash"  (click)="open(content)"></button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-body">
                        <p>{{ 'QuestionSuppression' | translate}} {{agentModal.matricule}} </p>
                        

                        <tr *ngFor="let client of ListeClients">
                            <td >{{client.idAgent}}</td>

                        </tr>



                        <p>Si Oui faire ensuite le test si l agent à au moins 1 client</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-xs" (click)="supprimerAgent(agentModal.matricule)" >{{ 'Oui' | translate }}</button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="c('Close click')">{{ 'Non' | translate }}</button>
                    </div>
                </ng-template>
         
    