<div class = "row">
    <h1>Ajouter un conseiller</h1>

 <div>
<div class = "row"> 	
 <form role="form">
              

                <fieldset class="form-group">
                    <label>Matricule</label>
                    <input class="form-control" placeholder="Matricule" type="text">
                    <label>Nom</label>
                    <input class="form-control" placeholder="Nom" type="text">
                    <label>Prenom</label>
                    <input class="form-control" placeholder="Prenom" type="text">
                    <label>Mot de passe</label>
                    <input class="form-control" placeholder="Mot de passe" type="password">
                    <label> Date de debut de contrat</label>
                    <input class="form-control" placeholder="Mot de passe" type="date">

                </fieldset>
               
                <button type="submit" class="btn btn-secondary">Creer un agent</button>

  </form>

 </div>
</div>