
            
                <button class="btn btn-primary" (click)="open(content)">{{'Info'| translate}}</button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">{{'Info'| translate}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>


                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td>{{'Identifiant'|translate}}</td>
                            <td>{{clientModal.id}}</td>
                        </tr>
                        <tr>
                            <td>{{'Nom'|translate}}</td>
                            <td>{{clientModal.nom}}</td>
                        </tr>
                        <tr>
                            <td>{{'Prénom'|translate}}</td>
                            <td>{{clientModal.prenom}}</td>
                        </tr>
                        <tr>
                            <td>{{'Couriel'|translate}}</td>
                            <td>{{clientModal.couriel}}</td>
                        </tr>   
                        <tr>
                             <td>{{'Adresse'|translate}}</td>
                             <td>{{clientModal.adresse}}</td>
                        </tr>
                          <td>{{'Numéro de téléphone'|translate}}</td>    
                          <td>{{clientModal.numTel}}</td>
                        <tr>
                             <td>{{'NombrEnfants'|translate}}</td>
                             <td>{{clientModal.nbEnfants}}</td>
                        </tr>
                        <tr>
                            <td>{{'Situation'|translate}}</td>
                            <td>{{clientModal.situation}}</td>
                        </tr>
                        </tbody>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>

        