<div class="card mb-3">
      
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>{{'IDClient' | translate}}</th>
                            <th>{{'Nom' | translate}}</th> 
                            <th>{{'Prenom' | translate}}</th> 
                            <th>{{'Reaffecter' | translate}}</th> 
                            <th>{{'Valider' | translate}}</th> 
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let client of ListeClients">
                            <td>{{client.id}}</td>
                            <td>{{client.nom}}</td>
                            <td>{{client.prenom}}</td>
                            <td>
                                <select class="form-control" [ngModel]="agents" (ngModelChange)="selectAgent($event)"> 
                                   <option *ngFor=" let agent of ListeAgents">{{ agent.matricule }}</option>
                                </select> 
                            </td>

                            <!-- Bouton validation -->
                             <td><button class="btn btn-success btn-xs fa fa-check"  (click)="open(content)"></button>
                             <ng-template #content let-c="close" let-d="dismiss">
                          <div class="modal-body">
                        <p>{{ 'QuestionValidation' | translate}}</p>
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-xs" (click)="affecter(client.id)"  >{{ 'Oui' | translate }}</button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="c('Close click')">{{ 'Non' | translate }}</button>
                    </div>
                </ng-template>
                </td>
                        </tr>
 
                        </tbody>
                    </table>
                </div>

                
</div>

   
