   <div class="col-md-12">
        
        <div class="table-responsive">

           <table id="mytable" class="table table-bordred table-striped">
                   
                    <thead>
                     <th>{{ 'DateDemande' | translate }}</th>
                     <th>{{ 'Nom' | translate }}</th>
                     <th>{{ 'Prenom' | translate }}</th>
                     <th>{{ 'DateDemande' | translate }}</th>
                     <th>{{ 'Status' | translate }}</th>
                     <th>{{ 'Affectation' | translate }}</th>
                     <th>{{ 'DateAffectation' | translate }}</th>
                     <th>{{ 'NomAgents' | translate }}</th>
                     <th>{{ 'IdDemande' | translate }}</th>
                     <th>{{ 'Affecter' | translate }}</th>
                    </thead>

   <!-- Information mise en dur, à modifier en cherchant  dans l'Objet Agent -->
    <tbody>
      <tr *ngFor="let demande of ListeDemande"> <!-- <tr *ngFor="let client of ListeClients"> -->
              <td>{{demande.dateDemande}}</td>
              <td>{{demande.client.nom}}</td>
              <td>{{demande.client.prenom}}</td>
              <td>10/01/2018</td>
              <td>{{demande.status}}</td>
              <td>{{ 'Oui' | translate}}</td>
              <td>{{demande.idDemande}}</td>
              <td>{{demande.client.idAgent}}</td> 
              <td>
                <select class="form-control">
                        <option>agent 1</option>
                        <option>agent 2</option>
                        <option>agent 3</option>
                        <option>agent 4</option>
                        <option>agent 5</option>
                    </select>
              </td>
       </tr>
    </tbody>
        
</table>
</div>
</div>