

   <div class="col-md-12">
        
        <div class="table-responsive">

           <table id="mytable" class="table table-bordred table-striped">
                   
                    <thead>
                     <th>{{ 'DateDemande' | translate }}</th>
                     <th>{{ 'Nom' | translate }}</th>
                     <th>{{ 'Prenom' | translate }}</th>
                     <th>{{ 'Status' | translate }}</th>
                     <th>{{ 'Affectation' | translate }}</th>
                     <th>{{ 'NomAgents' | translate }}</th>
                     <th>{{ 'IdDemande' | translate }}</th>
                     <th>{{ 'Valider' | translate }}</th>
                    </thead>
    <tbody>
      <tr *ngFor="let inscription of ListeInscription"> 
              <td >{{inscription.dateDemande}}</td>
              <!--<td > {{inscription.client.nom}}</td>
              <td >{{inscription.client.prenom}}</td>-->
              <!-- Affichage de en cours et terminé suivant boolean -->
              <td *ngIf='inscription.status == true' >
                  {{ 'termine' | translate}}
              </td>
              <td *ngIf='inscription.status == false' >
                  {{ 'EnCours' | translate}}
              </td>

              <!-- condition pour afficher oui ou non si affecté suivant l'id de l agent existant -->
             <!-- <td *ngIf='inscription.client.idAgent !== null' >
                  {{ 'Oui' | translate}}
              </td>
              <td *ngIf='inscription.client.idAgent == null' >
                  {{ 'Non' | translate}}
              </td> -->

              <!-- Gerer affichage vide du numero de l'agent -->
             <!-- <td *ngIf='inscription.client.idAgent !== null' >
                  {{inscription.client.idAgent}}
              </td>
              <td *ngIf='inscription.client.idAgent == null' >
                    -------
              </td> -->
               
              <td>{{inscription.idDemande}}</td>
              

               
              <td >
    
                  <select class="form-control" [ngModel]="agents" (ngModelChange)="selectAgent($event)">
                     <!-- Affichage d'un message (ngvalue doit reprendre le ngmodel) -->
                    <option [ngValue]="agents" selected hidden>agent </option>
                    <!-- Affichage de la liste d agnt (ngvalue prend un élement de la liste) -->
                    <option *ngFor=" let agent of ListeAgents ">{{ agent.matricule }}</option>
                  </select>
              </td >
              <!--<td><app-bouton-validation-affectation  ></app-bouton-validation-affectation></td> -->
              <!-- Pour simplifier l eventuelle binding j exporte en dure le bouton-->

              <td><button class="btn btn-success btn-xs fa fa-check"  (click)="open(content)"></button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-body">
                        <p>{{ 'QuestionValidation' | translate}}</p>
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-xs" (click)="affecter(selectedAgent)"  >{{ 'Oui' | translate }}</button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="c('Close click')">{{ 'Non' | translate }}</button>
                    </div>
                </ng-template>
                </td>
       </tr>
    </tbody>
        
</table>
</div>
</div>