<div class="card mb-3">
    <div class="card-header">{{'ListCli'|translate}}</div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
            	<th>{{'Identifiant'|translate}}</th>
                <th>{{'Nom'|translate}}</th>
                <th>{{'Prénom'|translate}}</th>
                 <th>{{'Couriel'|translate}}</th>
                <th>{{'Adresse'|translate}}</th>
                <th>{{'Numéro de téléphone'|translate}}</th>
                <th>{{'NombrEnfants'|translate}}</th>
               	<th>{{'Situation'|translate}}</th>
                <th>{{'Info'|translate}}</th>
            </tr>

            </thead>
            <tbody>
            <tr *ngFor="let client of maListe">
                <td>{{client.id}}</td>
                <td>{{client.nom}}</td>
                <td>{{client.prenom}}</td>
                <td>{{client.couriel}}</td>
                <td>{{client.adresse}} </td>
                <td>{{client.numTel}}</td>
                <td>{{client.nbEnfants}}</td>
                <td>{{client.situation}}</td>
                <td><app-modal></app-modal></td>
    
            </tbody>
        </table>
    </div>    
</div>