 <button class="btn btn-success btn-xs fa fa-check"  (click)="open(content)"></button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-body">
                        <p>{{ 'QuestionSuppression' | translate}}</p>
                        <p>nom de l'agent</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-xs" >{{ 'Oui' | translate }}</button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="c('Close click')">{{ 'Non' | translate }}</button>
                    </div>
                </ng-template>
         
    