
   <button class="btn btn-success btn-xs" (click)="open(content)"><i class="fa fa-user-plus"></i> {{ 'AjouterAgents' | translate }}</button>
    

<div class="row">
    <div class="col-sm-12">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">{{'AjouterAgents' | translate}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                <form role="form" novalidate (ngSubmit)="save()">

                <fieldset class="form-group">
                    <label for="matricule">{{ 'Matricule' | translate }}</label>
                    <input id="matricule" class="form-control" placeholder="Matricule" type="text" required ngControl="name">

                    <label for="nom">{{ 'Nom' | translate }}</label>
                    <input id="nom" class="form-control" placeholder="Nom" type="text" required ngControl="nom">
                    
                    <label for="prenom">{{ 'Prenom' | translate }}</label>
                    <input id="prenom" class="form-control" placeholder="Prenom" type="text" required ngControl="prenom">

                    <label for="voie">{{ 'Voie' | translate }}</label>
                    <input id="voie" class="form-control" placeholder="numero + rue " type="text" required ngControl="voie">

                    <label for="codePostal">{{ 'CodePostal' | translate }}</label>
                    <input id="codePostal" class="form-control" placeholder="Code postal " type="number" required ngControl="codePostal">

                    <label for="ville">{{ 'Ville' | translate }}</label>
                    <input id="ville" class="form-control" placeholder="ville " type="text" required ngControl="ville">

                    <label for="telephone">{{ 'Telephone' | translate }}</label>
                    <input id="telephone" class="form-control" placeholder="telephone" type="text" required ngControl="telephone" >

                    <label for="motDePasse">{{ 'MotDePasse' | translate }}</label>
                    <input id="motDePasse" class="form-control" placeholder="Mot de passe" type="password" required ngControl="motDePasse">

                    <label for="dateDebutContrat"> {{'DateDebutContrat'| translate}}</label>
                    <input id="dateDebutContrat" class="form-control" placeholder="Mot de passe" type="date" required ngControl="dateDebutContrat">

                </fieldset>
               
                <button type="submit" class="btn btn-success btn-xs"> {{'AjouterAgents' | translate}}</button>

               </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>
</div>  