
   <button class="btn btn-success btn-xs" (click)="open(content)"><i class="fa fa-user-plus"></i> {{ 'AjouterAgents' | translate }}</button>
    

<div class="row">
    <div class="col-sm-12">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">{{'AjouterAgents' | translate}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                <form role="form">

                <fieldset class="form-group">
                    <label>{{ 'Matricule' | translate }}</label>
                    <input class="form-control" placeholder="Matricule" type="text">
                    <label>{{ 'Nom' | translate }}</label>
                    <input class="form-control" placeholder="Nom" type="text">
                    <label>{{ 'Prenom' | translate }}</label>
                    <input class="form-control" placeholder="Prenom" type="text">
                    <label>{{ 'MotDePasse' | translate }}</label>
                    <input class="form-control" placeholder="Mot de passe" type="password">
                    <label> {{'DateDebutContrat'| translate}}</label>
                    <input class="form-control" placeholder="Mot de passe" type="date">

                </fieldset>
               
                <button type="submit" class="btn btn-success btn-xs"> {{'AjouterAgents' | translate}}</button>

               </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>
</div>  