<button class="btn btn-success btn-xs" (click)="open(content)"><i class="fa fa-user-plus"></i> {{ 'AjouterAgents' | translate }}</button>
    
<div class="row">
    <div class="col-sm-12">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">{{'AjouterAgents' | translate}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form (ngSubmit)="onSubmit(agentForm)"  [formGroup]="agentForm" >
               
                        <fieldset class="form-group">
                            <label for="matricule">{{ 'Matricule' | translate }}</label>
                            <input id="matricule" class="form-control" placeholder="Matricule" type="text" required ngControl="matricule"
                            formControlName="matricule" > 

                            <label for="identifiant">{{ 'identifiant' | translate }}</label>
                            <input id="identifiant" class="form-control" placeholder="identifiant" type="text" required ngControl="identifiant"
                            formControlName="identifiant" > 

                            <label for="nom">{{ 'Nom' | translate }}</label>
                            <input id="nom" class="form-control" placeholder="Nom" type="text" required ngControl="nom" 
                            formControlName="nom" >
                            
                            <label for="prenom">{{ 'Prenom' | translate }}</label>
                            <input id="prenom" class="form-control" placeholder="Prenom" type="text" required ngControl="prenom" 
                            formControlName="prenom">

                            <label for="email">{{ 'email' | translate }}</label>
                            <input id="email" class="form-control" placeholder="email" type="text" required ngControl="email" 
                            formControlName="email">

                            <label for="numTel">{{ 'phone' | translate }}</label>
                            <input id="numTel" class="form-control" placeholder="numero de telephone" type="text" required ngControl="numTel" 
                            formControlName="numTel">

                            <label for="adresse">{{ 'Adresse' | translate }}</label>
                            <input id="adresse" class="form-control" placeholder="numero + rue +ville" type="text" required ngControl="adresse" 
                            formControlName="adresse" >

                            <label for="motDePasse">{{ 'MotDePasse' | translate }}</label>
                            <input id="motDePasse" class="form-control" placeholder="Mot de passe" type="password" required ngControl="motDePasse"
                            formControlName="motDePasse"  >

                            <label for="dateDebutContrat"> {{'DateDebutContrat'| translate}}</label>
                            <input id="dateDebutContrat" class="form-control" placeholder="Mot de passe" type="date" required ngControl="dateDebutContrat"
                            formControlName="dateDebutContrat" >
                            
                        </fieldset>
                      
                        <button type="submit" class="btn btn-success btn-xs" >{{'AjouterAgents' | translate}} </button>

                         </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
            </ng-template>
</div>  
</div>

